.bx-wrapper {
    box-shadow: none;
    border: none;
    text-align: center;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: rgba(43, 41, 45, 0.2);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    margin: 0 auto;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active, 
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #3142C5;
}

.carusel_trusted{
    position: relative;
}

.carusel_title{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3142C6;
    margin-bottom: 28px;
}

.carusel_text{
    max-width: 750px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    margin: 0 auto;
    margin-bottom: 34px;
}

.person_name{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2B292D;
}

.person_position{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
}

.carusel_img{
    position: absolute;
    bottom: 0;
    right: 20px;
}


@media screen and (max-width:1090px){
    .carusel_title{
        max-width: 573px;
        margin: 0 auto 14px;
    }
    
    .carusel_text{
        max-width: 583px;
        margin-bottom: 34px;
    }
    
    .person_about{
        max-width: 175px;
        margin: 0 auto;
    }
    
    .carusel_img{
        position: static;
        text-align: center;
        margin-top: 50px;
    }
}

@media screen and (max-width:480px){
    .carusel_text{
        font-size: 20px;
    }
}

@media screen and (max-width:360px){
    .carusel_title, .carusel_text, .person_name, .person_position{
        text-align: start;
    }

    .person_about{
        max-width: 300px;
    }
}



