body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 57px 0 58px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_link{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;

}

.header_ul{
    margin-right: 75px;
}

.header_li:not(:last-of-type){
    margin-right: 30px;
}

.header_link:hover{
    font-weight: bold;
    transform: 500ms;
}

.header_button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
}

.header_button:hover{
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #0f1fab;
    transition: 1s;
}

.description{
    background-color: #F4F5F7;
    padding: 77px 130px;
}

.description_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.description_text{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.image{
    padding: 30px 0;
}
